body{
    margin: 0;
    padding: 0;
}

/* .containerNewsfeed {
    border: 1px solid black;
    margin: 2em; */

/* HEADER */

nav {
    background-color: black;
}

img#logo {
    max-width: 45%;
}

.navbar-toggler {
    border: 1px solid white;
}

i.fas.fa-cog {
    color: white;
    padding: 0.3rem;
}

ul.navbar-nav.mr-auto {
    color: #a2a2a2;
}